[req]
distinguished_name = req_distinguished_name
days=390
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = IT
ST = Italy
L = Catania
O = DIEEI
OU = DIEEI
CN = domoticcontrol.exampleserver.com
[v3_req]
basicConstraints = CA:false
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = raspberrypi
